
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*------------ Variables ----------*/

:root { /*lo que esté en root, es accesible por todas las clases*/
  --green-color: #7ACC2D;
  --white-color: white;
  --black-color: #313337;
  /* tipografia */
  --normal: 12px;
  /* espaciado */
  --space: 10px;
  --space-2:20px;
  /* box shadow */
  --box: 0 0 5px #e6e5e9;
}

/*-------- Fin Variables ----------*/

html, body {
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--green-color);
}
nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}


/*------------ Main section ----------*/

.main_section {
  padding: 15%;
  text-align: center;
  color: var(--black-color);
}

.products {
  display: flex;
  background-image: url("../images/curve.png");
  height: 90px; /* para que aparezca la imagen */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 15%;
}

.product {
  padding: var(--space-2);
  margin-top: -250px;
}

.product:hover {
  margin-top: -260px;
}

.product .content {
  background-color: var(--white-color);;
  padding: 15px;
  box-shadow: var(--box);
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover {
  background-color: #5e9e22;
}

/* beneficios */

.beneficios {
  padding: 10%;
  display: flex;
  justify-content: space-between;
}

.beneficio {
  text-align: center;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.beneficio img{
  max-height: 100px
}

.text_beneficio{
  text-align: justify;
}


/* menciones */

h2.mention_title {
  margin-top: 50px;
  text-align: center;
}

.mentions {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
}

.mention {
  padding: var(--space);
}

.mention img{
  width: 100%;
}

.content_mention{
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text{
  padding: var(--space);
}

/* footer */

footer{
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
}

footer a {
  text-decoration: none;
  padding: var(--space);
  color: var(--white-color);
}
