
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*------------ Variables ----------*/

:root { /*lo que esté en root, es accesible por todas las clases*/
  --green-color: #7ACC2D;
  --white-color: white;
  --black-color: #313337;
  /* tipografia */
  --normal: 12px;
  /* espaciado */
  --space: 10px;
  /* box shadow */
  --box: 0 0 5px #e6e5e9;
}

/*-------- Fin Variables ----------*/

html, body {
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--green-color);
}
nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}


/*------------ Main section ----------*/

.main_section {
  padding: 15%;
  text-align: center;
  color: var(--black-color);
}

.products {
  display: flex;
  background-image: url("../images/curve.png");
  max-height: 50px; /* para que aparezca la imagen */
  background-size: cover;
  background-position: center top;
  padding: 20%;

}

.product {
  padding: var(--space);
  margin-top: -240px;
}

.product .content {
  background-color: var(--white-color);;
  padding: 15px;
  box-shadow: var(--box);
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover {
  background-color: #5e9e22;
}
